@model EstateSolution.Models.CHITIETDONDATCOC
@{
    ViewBag.Title = "CreateDon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container" style="background-color:#fff;margin-top: 1%; margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; border: 1px solid #c7c7c7; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; border-radius: 15px ">
    @using (Html.BeginForm("CreateDon", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3 style="margin-left:1.5%">Tạo đơn đặt cọc</h3>
        <div class="form-horizontal container-fluid" style="padding-top:1%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group container-fluid">
                Tên khách hàng
                <div class="col-md-12">
                    @Html.DropDownList("MATV", ViewBag.MATV as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group container-fluid">
                Chọn bất động sản cần mua
                <div class="col-md-12">
                    @Html.DropDownList("MABDS", ViewBag.MABDS as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <br />
            <div class="form-group container-fluid row">
                <div class="col-md-1" style="padding-left: 0;">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                    <a href="/Admin/Admin/QuanLyDonDatCoc"><button class="btn btn-danger">Back</button></a>
                </div>

            </div>

        </div>
    }
</div>



