
@using EstateSolution.Models;
@{
    Layout = null;
}

<div class="light-slide-item">
    <div class="clearfix">
        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
            @foreach (var item in Model)
            {

                <li data-thumb="../../assets/img/img-data/@item.HINHANH">
                    <img src="~/assets/img/img-data/@item.HINHANH" />
                </li>

            }
        </ul>
    </div>
</div>
